<%- include('partials/header'); -%>

<h1>Home</h1>

<p> <% for(let x = 0; x <= startingContent.length; x++){ %>
    <%= startingContent[x].title; %>
    <%= startingContent[x].body; %>
    <% } %>
</p>

<%- include('partials/footer'); -%>